body {
  background-color: #0E1014;
}

@media (max-width: 1139px) {
  .container {
    margin: 0 8px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: rgba(14, 16, 20, 1);
  }

  header .nav {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
  }

  header a {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: rgba(228, 229, 234, 1);
    padding: 8px 0;
    text-transform: uppercase;
  }

  .header_communication {
    display: none;
  }

  .logo_box, header a:last-child {
    display: none;
  }

  main {
    width: 100%;
    margin-top: 55px;
    min-height: 445px;
  }

  main::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 445px;
    z-index: -1;
    background-image: url(./image/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
  }

  .title {
    padding-top: 40px;
  }

  .text1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 36px;
    color: rgba(228, 229, 234, 1);
    margin-top: 0px;
    margin-bottom: 0;
  }

  .text1 span {
    font-family: Inter;
    font-size: 36px;
    display: inline-block;
    white-space: nowrap;
    overflow-wrap: break-word;
    background: linear-gradient(135deg, rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.08em;
    letter-spacing: 0.025em;
  }

  .text2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: rgba(228, 229, 234, 1);
    margin-top: 15px;
  }

  .title2 {
    margin-top: 45px;
  }
  
  .text3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: rgba(228, 229, 234, 1);
    margin-top: 45px;
    margin-bottom: 0px;
    display: inline;
  }
  
  .text4 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: rgba(228, 229, 234, 1);
    margin: 0;
    display: inline;
  }
  
  .span3 {
    font-family: Inter;
    font-weight: Bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: inline;
    background: linear-gradient(90deg, rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    white-space: pre-wrap;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-top: 20px;
    list-style-image: url('./image/Line.svg');
    list-style-position: inside;
  }
  
  .list li {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    min-width: 124px;
    margin-bottom: 14px;
    color: rgba(228, 229, 234, 1);
    letter-spacing: 0.04em;
  }

  .list-laptop {
    display: none;
  }

  .button {
    display: none;
  }
  
  footer {
    padding-top: 12px;
    background-color: rgba(14, 16, 20, 1);
  }
  
  footer p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 12px;
    color: rgba(101, 101, 102, 1);
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  footer li {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: rgba(228, 229, 234, 1);
  }
  
  .menu li:nth-child(2n), 
  .about li:nth-child(2n) {
    padding-top: 10px;
  }
  
  footer li a {
    text-decoration: none;
    color: inherit;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 10px;
  }
  
  .menu li {
    width: 125px;
  }
  
  .menu li:nth-child(even) {
    margin-left: 22px;
  }
  
  .last {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  .last p, .last a {
    font-family: Montserrat;
    font-weight: lighter;
    color: rgba(228, 229, 234, 1);
    font-size: 12px;
  }
  
  .address {
    margin-top: 10px;
  }
  
  .phone {
    font-size: 16px;
  }
  
  .social {
    margin-top: 8px;
  }
  
  .social > a:not(:first-child) > svg {
    margin-left: 6px
  }
}



@media (min-width: 1140px) {
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: -130px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(./image/bg_laptop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
  }

  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    margin-top: 45px;
    width: 100%;
    height: 55px;
  }

  header .container {
    display: flex;
    padding-top: 10px;
  }

  header a {
    color: rgba(228, 229, 234, 1);
    padding: 8px 0;
  }

  header .nav a {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
  }

  header a.logo {
    padding: 0;
  }

  header .logo_box p {
    font-family: Montserrat;
    font-weight: lighter;
    color: rgba(228, 229, 234, 1);
    font-size: 10px;
  }

  header .nav {
    padding-top: 4px;
    margin-left: 40px;
  }

  header .nav > a:not(:first-child) {
    padding-left: 20px;
  }

  .header_communication {
    margin-left: auto;
    display: flex;
  }

  .header_social {
    display: flex;
    padding: 6px 0;
  }

  .header_social > a {
    padding: 0;
    margin-left: 30px;
  }

  .header_phone {
    margin: 0;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: rgba(228, 229, 234, 1);
    padding: 6px 0;
    margin-right: 15px;
  }

  main {
    width: 100%;
    min-height: 445px;
    padding-top: 70px;
  }

  main .container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .title {
    padding-top: 40px;
    grid-row: 1 / 3; 
    grid-column: 1 / 2; 
  }

  .text1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    color: rgba(228, 229, 234, 1);
    margin-top: 0px;
    margin-bottom: 0;
    width: min-content;
  }

  .text1 span {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    white-space: nowrap;
    overflow-wrap: break-word;
    background: linear-gradient(135deg, rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.08em;
    letter-spacing: 0.025em;
  }

  .text2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: rgba(228, 229, 234, 1);
    margin-top: 30px;
    width: 300px;
  }

  .title2 {
    margin-top: 55px;
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 
    margin-left: auto;
    text-align: right;
    width: 300px;
  }

  .text3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: rgba(228, 229, 234, 1);
    margin-top: 45px;
    margin-bottom: 0px;
    display: inline;
  }

  .text4 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: rgba(228, 229, 234, 1);
    margin: 0;
    display: inline;
  }

  .span3 {
    font-family: Inter;
    font-weight: Bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    display: inline;
    background: linear-gradient(90deg, rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    white-space: pre-wrap;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .list {
    display: none;
  }

  .list li {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    min-width: 124px;
    margin-bottom: 14px;
    color: rgba(228, 229, 234, 1);
    letter-spacing: 0.04em;
  }

  .list-laptop {
    display: grid;
    grid-template-columns: repeat(2, 145px);
    grid-gap: 30px 20px; 
    list-style: none; 
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
    color: rgba(228, 229, 234, 1);
    text-align: right;
    margin-left: auto;
    margin-top: 40px;
  }
  
  .list-laptop li h6 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500; 
    margin: 0; 
  }
  
  .list-laptop li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400; 
    margin: 0; 
    margin-top: 8px;
  }

  .button {
    width: 260px;
    height: 60px;
    background-color: #4077f3;
    color: #e4e5ea;
    font-family: 'Inter', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    text-align: center; 
    line-height: 60px; 
    border: none; 
    cursor: pointer; 
    grid-column: 2 / 3;
    margin-left: auto;
    margin-top: 45px;
  }

  footer {
    padding-top: 80px;
  }

  footer .container {
    display: flex;
    position: relative;
  }

  footer p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    color: rgba(101, 101, 102, 1);
  }

  footer ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }

  footer li {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: rgba(228, 229, 234, 1);
  }

  .menu li:nth-child(2n), 
  .about li:nth-child(2n) {
    padding-top: 10px;
  }

  .about li {
    width: max-content;
  }

  footer li a {
    text-decoration: none;
    color: inherit;
  }

  .menu_box {
    margin-left: 125px;
  }

  .contacts {
    margin-left: auto;
    text-align: right;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 10px;
    max-width: 400px;
  }

  .menu li {
    width: 175px;
  }

  .menu li:nth-child(even) {
    margin-left: 22px;
  }

  .last {
    text-align: right;
    margin-top: 200px;
    position: absolute;
    right: 0;
  }

  .last p, .last a {
    font-family: Montserrat;
    font-weight: lighter;
    color: rgba(228, 229, 234, 1);
    font-size: 12px;
  }

  .address {
    margin-top: 10px;
  }

  .phone {
    font-size: 16px;
  }

  .social {
    margin-top: 8px;
  }

  .social > a:not(:first-child) > svg {
    margin-left: 6px
  }

}